body{
	background-color: #86ceec;
}

.contenedor{
	border: 10px solid #eb2121;
	background-color: #2621eb;
	margin: 50px;
	width: 500px;
	height: 1000px; 

	/*flexbox*/
	display: flex;
	flex-direction: column;
	/*flex-dierction:column-reverse;*/
	flex-wrap: column-reverse;
	flex-flow: column;
	justify-content: flex-end;
}

.elemento{
	background-color: #51b958;
	margin:5px;
	color: white;
	text-align: center;
	width: 50px;
	height: 50px;
	
}
